.fade-appear {
  opacity: 0.01;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity .3s ease-in;
}

.photo-grid-enter {
  opacity: 0.01;
}

.photo-grid-enter.photo-grid-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.photo-grid-leave {
  opacity: 1;
}

.photo-grid-leave.photo-grid-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}